<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to olx.com, <%= @user.name %></h1>
    <p>
      your room is created successfully
    </p>
    <p>
      To login to the site, to finalize deal with seller
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>