<h1><%=@room.name%></h1>

<%= turbo_stream_from "messege_list" %>
<div id="messege_list">
 <% @messeges.each do |messege|%>
   <%= render messege%>
  <%end%>
</div>
<%= render "messeges/form",room: @room.id,messege: @messege%>